body {
    border: 3px solid: #2475A7;
    font-family: Helvetica;
    font-size: 95%;
    background-color: #BFBEBE;
}


#wrapper {
    margin: 1em auto;
    padding: 0;
    width: 900px;
    border: 5px solid #3F7FBF;
    background-color: #ffffff;
    display: grid;
 
}

.color {
    color: #ff0000;
    font-weight: bold;
}

h1 {
    color: #ffffff; 
    grid-column: span 12;
    background-color: #3F7FBF;
    padding: 25px;
    font-style: italic;
    font-weight: normal;
     background-image: linear-gradient(to top, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}

h2 {
    font: helvetica;
    font-weight: bold;
    border-bottom: 3.5px solid #000000;
    border-color: #3F7FBF;
    margin-bottom: 30px; 
    margin-left: 10px;
    text-align: left;
    padding: 10px;
    color: #3F7FBF;
    grid-column: span 3;
    font-weight: normal;
}

.p1 {
    font-weight: bold;
    margin-left: 13px;
    padding: 8px;
}

nav {
    grid-column: span 12;
    font-family: Helvetica;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    width: 221px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
}

nav li a:hover {
    background-color: #ffff00;
}

nav li a {
    grid-column: span 12;
    color: #ffffff;
    display: block;
    padding: 10px;
    background-color: #3F7FBF;
    background-image: linear-gradient #249AA7;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
     background-image: linear-gradient(to top, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}
    
.hargreeves {
        border: 3px solid #3F7FBF;
        float: left;
        
    }
    
footer {
    background-color: #ff0000;
    grid-column: span 12;
    color: #3F7FBF;
    border-top: 3px solid #3F7FBF;
    }
    
.p2 {
    grid-column: span 9;
    margin-left: 425px
    
}

.p3 {
    margin-left: 13px;
    padding: 8px;
}

.p4 {
    margin-left: 13px;
    padding: 8px;
}