h1 {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    display: block;
    font: helvetica;
    font-size: 50px;
    border: 1px solid #000000;
    background-color: #000000;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 0px;
}

h2 {
    text-align: center;
    font-size: 20px;
    font: helvetica;
    grid-column: span 12;
    font-weight: normal;
}

h3 {
    text-align: center;
    font-weight: bold;
    color: #60B5CE;
    font-size: 50px;
    grid-column: span 12;
}

.intro {
    float: center;
}

#wrapper {
    text-align: center;
    margin: none;
    padding: 0px;
    width: 900px;
    background-color: #ffffff;
    display: grid;
}

nav {
    grid-column: span 12;
    font-family: Helvetica;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    
}

nav ul {
    margin: 10;
    padding: 0;
}

nav li {
    width: 220px;
    color: #000000;
    display: inline-block;
    font-size: 25px;
    float: right;
    
}

nav li a:hover {
    color: yellow;
}

img {
    float: right;
}

footer {
    color: black;
    font-weight: normal;
    border: 1px solid #000000;
    margin: 0px;
    padding: 20px;
    background-color: #60B5CE;
    font-style: italic;
    font-weight: 0;
    font-size: 13px;
    text-align: center;
}