/* This is my new stylesheet */
/*
p {
color: #ff0000;
background-color: #0000FF;
}
*/

body {
    font-family: sans-serif;
    background-image: url(download.jpeg);
}

h1 {
    color: #f5a142;
    font-style: italic;
    
}

h2 {
    color: #f5a142;
    font-style: italic;
}

h3 {
    color: #f5a142;
    font-style: italic;
}

a {
 color: #ff0000;
    font-family: sans-serif;
    text-decoration: none;
}

a:link {
 color: #ff0000;
}

a:visited {
 color: #00ffd0;
}


a:hover {
 color: #ffff00;
    text-decoration: underline;
}  

.spanstyle {
    color: #ff0000;
}

#divexample {
   color: #000000;
       background-color: #ff0033;
}

.imgbox{
    border: 20px solid: #FFFFFF;
    padding: 10px;
    background-color: #000000;
    margin: 20px;
}

footer {
    color: #ffffff;
    background-color: #FF0000;
}